body {
    background-color:#D2B48C;
    width:518px;
    margin:0px auto;
    height: 353px;
}

.background {
   
    padding-left:100px;
    padding-right:100px;

    width:80%;
}

.body1 {

    padding-left:100px;
    padding-right:100px;

    width:66%;
}

.body2{
    padding-left:0px;
    padding-right:100px;

    width:66%;
}

.deleteRecipe{
    color:red;
    font-style:italic;
}

.table1{
    color:white;
    font-style:normal;
}

header{
    margin-left:auto;
    margin-right:auto;
}


th, td {
     height: 40px;
 } 

footer{
    padding-left:100px;
    padding-right:100px;

    width:66%;
}

